.main-menu {
  float: right;
  font-family: $font-family-big;
  font-size: 1.5em;

  &__item {
    display: block;
    float: left;
    margin: 0.25em 0 0.5em;
    padding: 0 0.5em;
    border-right: 0.125em solid $color-text-default;

    &:last-child {
      border-right: none;
    }
  }

  &__link {
    text-decoration: none;
    color: $color-text-default;
    display: block;
    padding: 0.125em 0 0.5em;
    margin: 0 0 -0.5em 0;

    &:hover,
    &--active {
      border-bottom: 0.25em solid $color-text-default;
      margin-bottom: -0.75em;
    }
  }
}
