{
  "extends": "airbnb/base",
  "env": {
    "node": true
  },
  "ecmaFeatures": {
    "modules": false
  },
  "rules": {
    "strict": [2, "function"],
    "no-strict": 0,
    "eqeqeq": 2,
    "curly": 2,
    "quotes": [2, "single"],
    "func-names": 0,
    "no-shadow": 0,
    "no-unused-expressions": 0
  }
}
